* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html, body {
    height: 100%; 
    overflow: hidden; 
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fff; 
    position: relative; 
}

.wrapper {
    width: 420px;
    background: #fff; 
    border: 2px solid rgba(0, 0, 0, .2); 
    box-shadow: 0 0 10px rgba(0, 0, 0, .1); 
    color: #333; 
    border-radius: 10px;
    padding: 30px 40px;
    z-index: 1;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
    color: #333; 
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid #ccc; 
    border-radius: 40px;
    font-size: 16px;
    color: #333; 
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #aaa; 
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: #333; 
    margin-right: 3px;
}

.remember-forgot a {
    color: #333; 
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: #007BFF; 
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: white; 
    font-weight: 600;
}

.btn:hover {
    background: #0056b3;
}

.register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: #007BFF; 
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

.center h2 {
float: margin-top;	
	
}

.navbar {
    width: 100%;
    height: 48px;
    background-color: #0077B6;
    position: fixed;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11px 0;
}

.navbar ul li {
    color: white;
    text-decoration: none;
    font-size: 20px; /* Yazı boyutu */
    padding: 4px 7px;
    display: flex; /* Metin ve ikonları yan yana dizmek için flexbox kullanıyoruz */
    align-items: center; /* İkon ve metni dikeyde hizala */
}



.footer {
    position: fixed;
    left: 0px;
    bottom: 0;
    width: 100%;
    background: #b1b1b1;
    color: black;
    text-align: center;
    height: 35px;
    z-index: 100;  /* Bu satırı ekleyin */
}


body {
    background-image: url('img/bg3.jpg'); /* Burada arka plan resminizin dosya yolunu yazın */
    background-size: cover; /* Resmin sayfaya göre boyutlandırılmasını sağlar */
    background-position: center center; /* Resmin merkezde görünmesini sağlar */
    background-attachment: fixed; /* Sayfa kaydırıldığında arka planın sabit kalmasını sağlar */
    color: white; /* Yazı rengini beyaz yapar */
}
